.register {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerCheckbox {
  display: inline-block;
}

.registerBottom {
  width: 500px;
  overflow: hidden; /* will contain if #first is longer than #second */
}

.registerBottomLeft {
  width: 150px;
  float: left; /* add this */
}

.registerBottomMid {
  width: 200px;
  float: left; /* add this */
}

.registerBottomRight {
  margin-right: 100px;
  width: 150px;
  color: black;
  overflow: hidden; /* if you don't want #second to wrap below #first */
}

.registerSmallInputs {
  display: inline-block;
}

.registerSmallInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 11px;
  padding-left: 25px;
  margin-right: 10px;
  width: 25%;
}

.registerVerySmallInput {
  height: 15px;
  border-radius: 4px;
  border: 1px solid gray;
  font-size: 11px;
  padding-left: 8px;
  margin-right: 10px;
  width: 90%;
}

.registerWrapper {
  width: 70%;
  height: 90%;
  display: flex;
}

.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.registerDesc {
  font-size: 24px;
}

.registerBox {
  height: 1000px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registerInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.registerInput:focus {
  outline: none;
}

.registerImg {
  width: 50%;
  margin-bottom: 10%;
}

.registerButton {
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #03295c;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.errorText {
  font-size: 20px;
  color: red;
}

.registerForgot {
  text-align: center;
  color: #1775ee;
}

.registerRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #167c02;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
